<div class="row" data-ng-controller="MeCtrl">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Your Details</strong>
            </div>
            <div class="panel-body">
                <p>Email: {{myDetails.data.email}}</p>
                <p>User type: {{myDetails.data.userType}}</p>
                <p>Role: {{myDetails.data.role}}<p>
                <p>Permissions: {{myDetails.data.permission}}<p>
            </div>
        </div>
    </div>
</div>